[Desktop Entry]
Exec=rofi -show calc -modi calc -no-show-match -no-sort -theme squared-nord.rasi
Type=Application
Categories=Development
Name=Calculator
